In [2]:
from vnstock import Vnstock,Listing, Quote, Company, Finance, Trading, Screener 
import datetime
import numpy as np

In [23]:


class Stock_data:
    def __init__(self,stock:Vnstock.stock):
        self.stock = stock
        #calculate date
        
        today = datetime.date.today()
        start = today.replace(year=today.year - 5)
        end = today.replace(day=today.day - 1)
        #modify history by adding shift 1 day then remove the first row
        self.history = self.stock.quote.history(start = str(start),end = str(end),interval = "1D")
        self.history["close_shift_1"] = self.history["close"].shift(1)
        self.history = self.history.iloc[1:,:]
    def hpr(self,display_option = False):

        #calculate hpr day
        self.history["hpr"] = (self.history["close"]- self.history["close_shift_1"]) / self.history["close_shift_1"]
        if display_option:
            display(self.history)
    def arithmethic_mean(self,display_option = False):
        if "hpr" not in self.history.columns:
            self.hpr(display_option=display_option)
        self.a_mean = self.history["hpr"].mean()
        return self.a_mean
    def geometric_mean(self,display_option = False):
        if "hpr" not in self.history.columns:
            self.hpr(display_option=display_option)
        growth_factors = 1 + self.history["hpr"]
        self.geo_mean = np.prod(growth_factors) ** (1 / len(growth_factors)) - 1
        return self.geo_mean
    def standard_deviation(self,display_option = False):
        if "hpr" not in self.history.columns:
            self.hpr(display_option=display_option)
        self.std_dev = self.history["hpr"].std()  
        return self.std_dev
    def annualize(self):
        if hasattr(self, 'std_dev') and hasattr(self, 'a_mean') and hasattr(self, 'geo_mean'):
            trading_days = 252  # typical number of trading days in a year
            annualized_mean = (1 + self.geo_mean) ** trading_days - 1
            annualized_std = self.std_dev * np.sqrt(trading_days)
            annualized_amean = self.a_mean * trading_days
            return {
                    "annualized_mean": annualized_mean,
                    "annualized_std": annualized_std,
                    "annualized_amean": annualized_amean
            }
        else:
            raise AttributeError("Please calculate mean, geometric mean, and standard deviation before annualizing.")

In [28]:
stocks = ["ACB", "VCB", "FPT", "HPG", "VIC"]
for stock in stocks:
    print(f"------------{stock}---------------")
    stock_obj = Vnstock().stock(symbol=stock, source="VCI")
    stock_data = Stock_data(stock=stock_obj)
    stock_data.hpr(display_option=True)
    print(stock_data.arithmethic_mean())
    print(stock_data.geometric_mean())
    print(stock_data.standard_deviation())
    print(stock_data.annualize())

------------ACB---------------

           time   open   high    low  close    volume  close_shift_1       hpr
1    2020-08-25   7.88   7.95   7.80   7.92   7801079           7.88  0.005076
2    2020-08-26   7.92   7.99   7.84   7.95   6018699           7.92  0.003788
3    2020-08-27   7.95   8.07   7.92   8.07   4863627           7.95  0.015094
4    2020-08-28   8.10   8.18   7.99   8.03   6947593           8.07 -0.004957
5    2020-08-31   8.03   8.07   7.92   7.95   7008237           8.03 -0.009963
...         ...    ...    ...    ...    ...       ...            ...       ...
1238 2025-08-15  27.30  27.60  26.35  26.55  29322600          26.20  0.013359
1239 2025-08-18  26.80  27.50  26.35  27.05  28477800          26.55  0.018832
1240 2025-08-19  27.05  28.70  27.00  28.45  41181100          27.05  0.051756
1241 2025-08-20  28.50  28.50  26.90  28.00  33270000          28.45 -0.015817
1242 2025-08-21  28.30  29.50  28.00  29.45  45796400          28.00  0.051786

[1242 rows x 8 columns]

0.0012095242404011363
0.0010620498934064138
0.017181146251207383
{'annualized_mean': 0.3066865109732091, 'annualized_std': 0.27274224131834646, 'annualized_amean': 0.30480010858108636}
------------VCB---------------

           time   open   high    low  close    volume  close_shift_1       hpr
1    2020-08-25  36.49  36.92  36.49  36.49   1748400          36.49  0.000000
2    2020-08-26  36.49  36.49  36.27  36.32   1585740          36.49 -0.004659
3    2020-08-27  36.32  36.49  36.19  36.32   1003280          36.32  0.000000
4    2020-08-28  36.36  36.49  36.23  36.27   1645430          36.32 -0.001377
5    2020-08-31  36.53  36.75  36.01  36.10    971310          36.27 -0.004687
...         ...    ...    ...    ...    ...       ...            ...       ...
1243 2025-08-15  67.40  67.50  64.20  64.30  16667800          65.20 -0.013804
1244 2025-08-18  64.80  65.60  64.00  64.50   8297300          64.30  0.003110
1245 2025-08-19  64.50  65.40  64.20  64.20   9191400          64.50 -0.004651
1246 2025-08-20  64.50  64.60  62.20  63.00  10537600          64.20 -0.018692
1247 2025-08-21  63.30  65.00  63.30  64.20   9639300          63.00  0.019048

[1247 rows x 8 columns]

0.0005723050606808601
0.00045316195741396115
0.015450309658791048
{'annualized_mean': 0.12094372964144862, 'annualized_std': 0.24526606221660197, 'annualized_amean': 0.14422087529157676}
------------FPT---------------

,time,open,high,low,close,volume,close_shift_1,hpr
1,2020-08-25,21.23,21.38,21.21,21.34,3304670,21.16,0.008507
2,2020-08-26,21.32,21.34,21.05,21.14,1328990,21.34,-0.009372
3,2020-08-27,21.07,21.88,21.07,21.77,3724990,21.14,0.029801
4,2020-08-28,21.93,22.32,21.80,21.80,4009380,21.77,0.001378
5,2020-08-31,21.80,21.97,21.56,21.62,1940640,21.80,-0.008257
...,...,...,...,...,...,...,...,...
1243,2025-08-15,103.80,104.80,101.30,101.40,18622300,103.80,-0.023121
1244,2025-08-18,101.40,103.00,100.00,100.50,11392300,101.40,-0.008876
1245,2025-08-19,100.60,101.50,100.00,100.30,9153600,100.50,-0.001990
1246,2025-08-20,100.10,100.30,97.50,97.70,19969500,100.30,-0.025922
1247,2025-08-21,97.70,102.90,97.70,101.70,12624800,97.70,0.040942

0.0014076433144441839
0.001259746058945188
0.01721394425968401
{'annualized_mean': 0.37335440448734736, 'annualized_std': 0.2732628935619105, 'annualized_amean': 0.35472611523993436}
------------HPG---------------

,time,open,high,low,close,volume,close_shift_1,hpr
1,2020-08-25,10.50,10.56,10.35,10.35,10722520,10.45,-0.009569
2,2020-08-26,10.33,10.35,10.20,10.20,16327190,10.35,-0.014493
3,2020-08-27,10.20,10.26,10.16,10.24,8801320,10.20,0.003922
4,2020-08-28,10.33,10.33,10.22,10.24,11603550,10.24,0.000000
5,2020-08-31,10.20,10.45,10.20,10.35,13334160,10.24,0.010742
...,...,...,...,...,...,...,...,...
1243,2025-08-15,28.45,28.80,27.85,28.00,107927600,28.20,-0.007092
1244,2025-08-18,28.30,28.80,28.20,28.40,69044400,28.00,0.014286
1245,2025-08-19,28.60,28.70,28.10,28.15,63021900,28.40,-0.008803
1246,2025-08-20,28.20,28.25,27.05,27.40,101007400,28.15,-0.026643
1247,2025-08-21,27.45,27.80,27.30,27.40,69981700,27.40,0.000000

0.0010025716081978745
0.0007733068950195321
0.021423194231598223
{'annualized_mean': 0.21506555238770897, 'annualized_std': 0.34008266535265425, 'annualized_amean': 0.2526480452658644}
------------VIC---------------

,time,open,high,low,close,volume,close_shift_1,hpr
1,2020-08-25,79.11,81.69,79.11,80.89,1074660,79.11,0.022500
2,2020-08-26,80.71,81.07,80.00,80.89,547280,80.89,0.000000
3,2020-08-27,80.09,80.89,80.09,80.89,437950,80.89,0.000000
4,2020-08-28,81.16,82.05,79.91,79.91,636020,80.89,-0.012115
5,2020-08-31,80.00,81.33,80.00,80.00,276580,79.91,0.001126
...,...,...,...,...,...,...,...,...
1243,2025-08-15,119.20,126.00,117.90,118.20,5258600,118.20,0.000000
1244,2025-08-18,118.20,118.50,116.00,118.20,3592000,118.20,0.000000
1245,2025-08-19,118.20,121.10,116.50,118.20,5290800,118.20,0.000000
1246,2025-08-20,118.60,126.00,117.90,124.20,7458200,118.20,0.050761
1247,2025-08-21,122.20,126.80,122.00,125.00,4069100,124.20,0.006441

0.0005786971128991148
0.0003669273240374249
0.02065165873972019
{'annualized_mean': 0.0968568995626522, 'annualized_std': 0.32783491911763923, 'annualized_amean': 0.14583167245057693}

In [29]:
Vnstock().world_index(symbol="VNINDEX")

KeyError: 'VNINDEX'